html, body{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr;
}

input{
    font-size: 1.2em;
}

input[type="checkbox"]{
    zoom: 1.5;
}



